/* Header */
.main-header {
  background-color: #1e2124;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-name {
  display: flex;
  justify-content: left;
  padding-left: 2%;
  list-style-type: none;
}

.nav-detail {
  display: flex;
  justify-content: right;
  padding-right: 2%;
  padding-left: 2%;
  gap: 2%;
  list-style-type: none;
}

.nav-detail a {
  display: inline-block;
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease, transform 0.1s ease;
  padding: 0; /* No additional padding to avoid layout changes */
}

.nav-detail a:hover {
  color: #0086ff; /* Change to a highlight color of your choice */
  transition: color 0.3s ease;
}

.nav-detail a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #0086ff; /* Match the hover color */
  transition: width 0.3s ease;
}

.nav-detail a:hover::after {
  width: 100%;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  * {
    letter-spacing: 0px;
  }

  .main-header {
    padding: 0.5rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-name {
    padding-left: 0;
    margin-bottom: 10px;
    justify-content: center;
  }

  .nav-detail {
    padding-right: 0;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
  }
}
