.slider {
  --slide-width: 250px;
  --slide-height: 520px;

  position: relative;
  margin: 2rem;
  margin-left: 0px;
  padding-left: 0px;

  .slides {
    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    max-width: var(--slide-width, 100vw);
    border: var(--slider-border);
    box-shadow: var(--slider-box-shadow);
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 50px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);

    &::-webkit-scrollbar {
      display: none;
    }

    .slide {
      width: var(--slide-width, 100%);
      height: var(--slide-height, 100%);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      scroll-snap-align: start;
      /* add to .slider .slides */
      touch-action: pan-x;
      overscroll-behavior-x: contain;
    }
  }
}
